/**
 * base styles
 */
body {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  font: 100% "Helvetica Neue", Verdana, Arial, sans-serif;
  line-height: 1.4;
  color: #333;
}

.wrapper {
  position: relative;
  width: 80%;
  max-width: 1024px;
  margin: 0 auto;
}

.cf:before, .chickens li:before,
.cf:after,
.chickens li:after {
  content: " ";
  display: table;
}

.cf:after, .chickens li:after {
  clear: both;
}

.inline, .inline li {
  display: inline-block;
}

p {
  margin: 0 0 1em;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  padding-left: 0;
  list-style-type: none;
}

.disclaimer {
  background-color: #ccc;
  padding: 1em;
}

header {
  background-color: #333;
  color: #ebebeb;
  padding: 1em;
}

h1 {
  margin: 0;
}

.content article {
  margin-bottom: 4em;
}
.content aside ul {
  margin-top: 4em;
}
.content aside li {
  margin-bottom: 1em;
}

.chickens li {
  padding-bottom: 0.875em;
  border-bottom: 1px #cccccc solid;
  margin-bottom: 1em;
}
.chickens li:last-child {
  border-bottom: none;
}
.chickens article {
  float: left;
  width: 60%;
}
.chickens aside {
  float: right;
  width: 40%;
}
.chickens img {
  float: left;
}
.chickens img, .chickens h3 {
  display: inline-block;
}
.chickens h3 {
  margin: 0;
}
.chickens h3 + p {
  font-size: 0.75em;
}

.eggs_today {
  margin-right: 0.5em;
}

.eggs_total {
  font-size: 0.875em;
}
.eggs_total:before {
  content: "(";
}
.eggs_total:after {
  content: " total)";
}

/* cupid green (inspired by okcupid.com)
*******************************************************************************/
.button {
  background-color: #ccc;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 0 0 #96ca6d;
  box-shadow: inset 0 1px 0 0 #96ca6d;
  font: bold 11px/1 "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
  padding: 0.725em;
  text-align: center;
  text-shadow: 0 -1px 0 #4c9021;
  width: 150px;
}

.button:hover {
  box-shadow: inset 0 1px 0 0 #8dbf67;
  cursor: pointer;
}

.button:active {
  border: 1px solid #5b992b;
  border-bottom: 1px solid #538c27;
  -webkit-box-shadow: inset 0 0 8px 4px #548c29, 0 1px 0 0 #eeeeee;
  box-shadow: inset 0 0 8px 4px #548c29, 0 1px 0 0 #eeeeee;
}
