/**
 * base styles
 */
body {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  font: 100% "Helvetica Neue", Verdana, Arial, sans-serif;
  line-height: 1.4;
  color: #333;
}

.wrapper {
  position: relative;
  width: 80%;
  max-width: 1024px;
  margin: 0 auto;
}

.cf:before, li:before, #user_form li:before, .chickens li:before, .chickens article:before,
.cf:after,
li:after,
#user_form li:after,
.chickens li:after,
.chickens article:after {
  content: " ";
  display: table;
}

.cf:after, li:after, #user_form li:after, .chickens li:after, .chickens article:after {
  clear: both;
}

.inline, .inline li {
  display: inline-block;
}

p {
  margin: 0 0 1em;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  padding-left: 0;
  list-style-type: none;
}

.disclaimer {
  background-color: #ccc;
  padding: 1em;
}

h1 {
  background-color: #333;
  color: #ebebeb;
  padding: 1em;
  margin: 0;
}

li article {
  float: left;
  width: 70%;
}
li aside {
  float: right;
  width: 30%;
  text-align: right;
}

nav li {
  margin-right: 1em;
  font-weight: bold;
}

#user_form p {
  margin-bottom: 0;
}
#user_form ul {
  width: 100%;
}
#user_form li {
  width: 40%;
}
#user_form li:nth-child(1) {
  float: left;
}
#user_form li:nth-child(2) {
  float: right;
}
#user_form div:nth-child(3) {
  width: 50%;
  margin: 0 auto;
}
#user_form div {
  border-bottom: 1px #cccccc solid;
  margin-bottom: 1em;
}

.content aside ul {
  margin-top: 4em;
}
.content aside li {
  margin-bottom: 1em;
}

.chickens {
  border: 1px solid #777777;
  padding: 1em;
}
.chickens li {
  padding-bottom: 0.875em;
  border-bottom: 1px #cccccc solid;
  margin-bottom: 1em;
}
.chickens li:last-child {
  border-bottom: none;
  padding-bottom: 0;
  margin-bottom: 0;
}
.chickens li:hover {
  cursor: pointer;
}
.chickens article {
  float: left;
  width: 70%;
}
.chickens aside {
  float: right;
  width: 30%;
}
.chickens img {
  float: left;
  margin-right: 0.75em;
}
.chickens h3 {
  margin: 0;
}
.chickens p {
  font-size: 0.75em;
}

.stats {
  text-align: right;
}

.eggs_today {
  margin-right: 0.5em;
}

.eggs_total {
  font-size: 0.875em;
}
.eggs_total:before {
  content: "(";
}
.eggs_total:after {
  content: " total)";
}

.dashboard {
  padding: 1em;
  border: 1px solid #444444;
}
.dashboard li {
  padding: 0.5em 0 0.5em;
  border-bottom: 1px solid #cccccc;
}

/* cupid green (inspired by okcupid.com)
*******************************************************************************/
.button {
  background-color: #ccc;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 0 0 #96ca6d;
  box-shadow: inset 0 1px 0 0 #96ca6d;
  font: bold 11px/1 "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
  padding: 0.725em;
  text-align: center;
  text-shadow: 0 -1px 0 #4c9021;
  width: 150px;
}

.button:hover {
  box-shadow: inset 0 1px 0 0 #8dbf67;
  cursor: pointer;
}

.button:active {
  border: 1px solid #5b992b;
  border-bottom: 1px solid #538c27;
  -webkit-box-shadow: inset 0 0 8px 4px #548c29, 0 1px 0 0 #eeeeee;
  box-shadow: inset 0 0 8px 4px #548c29, 0 1px 0 0 #eeeeee;
}
