.chickens {
	border: 1px solid #777;
	padding: 1em;

	li {
		@extend .cf;
		padding-bottom: 0.875em;
		border-bottom: 1px #ccc solid;
		margin-bottom: 1em;
		&:last-child { 
			border-bottom: none;
			padding-bottom: 0;
			margin-bottom: 0;
		}
		&:hover {
			cursor: pointer;
		}
	}
	article {
		// display: inline-block;
		float: left;
		width: 70%;
		@extend .cf;
	}
	aside {
		float: right;
		width: 30%;
	}
	img {
		float: left;
		margin-right: 0.75em;
	}
	h3 {
		margin: 0;
	}
	// img, h3 {
	// 	display: inline-block;
	// }
	// h3 {
	// 	margin: 0;
	p {
		font-size: 0.75em;
	}
	// }

}
.stats {
	text-align: right;
}
.eggs_today {
	margin-right: 0.5em;
}
.eggs_total {
	// display: inline-block;
	font-size: 0.875em;
	&:before {
		content: "(";
	}
	&:after {
		content: " total)";
	}
}